@media print, screen {
  .categoria {
    grid-column: 1 / 3; } }

@media print, screen and (max-width: 1023px) and (min-width: 639px) {
  .dosColumnas {
    grid-column: 1/3; } }

@media print, screen and (min-width: 639px) {
  .dosColumnasAmplio {
    grid-column: 1/3; } }

form.form-crm {
  margin-bottom: 1em; }

.pagina {
  padding-top: 10px; }

.form-crm {
  padding: 10px; }
  .form-crm textarea, .form-crm select {
    margin-bottom: 12px; }
  .form-crm select {
    height: 2em; }
  .form-crm .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    height: 1.5em; }
  .form-crm .chosen-container {
    margin-bottom: 0.5em; }
  .form-crm .field-hint {
    font-style: italic;
    color: #888;
    font-size: 0.9em;
    margin-bottom: 20px; }
  .form-crm fieldset {
    margin: 8px 0;
    border: 1px solid #ccc;
    padding: 8px; }
  .form-crm h1 {
    font-size: 2em; }
  .form-crm h2 {
    font-size: 1.5em;
    font-weight: bold; }

.inline {
  display: inline; }

.right {
  float: right; }

br {
  clear: both; }

.menu-idioma {
  margin-right: 10px;
  padding-top: 10px; }
  .menu-idioma ul {
    margin: 3px 0 10px 0;
    padding: 0 0 0 30px; }
  .menu-idioma li {
    display: inline;
    padding: 6px 8px;
    color: #777c86; }

.main-container {
  border: 1px solid #aaa;
  border-radius: 10px;
  background-color: #fff;
  margin: 15px auto;
  width: 760px; }

.texto-lopd {
  font-size: 0.8em;
  line-height: 1.2em;
  color: #666;
  padding-top: 1em;
  border-top: 1px solid #aaa; }

.mb12 {
  margin-bottom: 12px; }

.loading-mask {
  position: relative;
  height: 100%;
  width: 100%; }
  .loading-mask::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100; }
  .loading-mask::after {
    content: "";
    position: absolute;
    border-width: 3px;
    border-style: solid;
    border-color: transparent #003263 #003263;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
    animation: 2s linear 0s normal none infinite running spin;
    z-index: 100; }

.question {
  color: #0088dd; }
  .question:hover {
    color: #0055bb;
    cursor: help; }

a.question {
  position: relative;
  /*this is the key*/
  z-index: 24;
  text-decoration: none; }
  a.question span {
    display: none; }
  a.question:hover {
    z-index: 25; }
    a.question:hover span {
      /*the span will display just on :hover state*/
      display: block;
      position: absolute;
      padding: 3px;
      top: 2em;
      left: 2em;
      width: 15em;
      border: 1px solid #000;
      background-color: #eee;
      color: #000;
      text-align: left; }

.header {
  justify-content: center;
  display: flex; }

.idiomas {
  display: flex;
  margin-right: 10px;
  justify-content: right; }

.textoPie {
  color: #58585a;
  font-size: 0.7em !important;
  font-weight: normal;
  padding: 10px;
  text-align: center; }

.formularioTitulo {
  font-size: 1.5em; }

.hide {
  display: none; }

.botonRedondo {
  background-color: #002744;
  color: white;
  border: solid #999 1px;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  padding: 0.2em 0.5em;
  margin: 0.2em 0.0em;
  text-align: center; }
  .botonRedondo:hover {
    cursor: pointer; }

.cabecera {
  margin-bottom: 10px;
  padding-top: 20px; }

.ficha {
  text-align: left;
  display: block;
  background-color: lightgrey;
  border: solid black 1px;
  padding: 5px;
  margin-bottom: 10px; }

.selectMultiple {
  min-height: 10em; }

#spinner {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 999;
  display: none; }

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  position: relative;
  left: 50%;
  top: 50%;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
