/*!
 * Extensible 1.5.1
 * Copyright(c) 2010-2012 Extensible, LLC
 * licensing@ext.ensible.com
 * http://ext.ensible.com
 */
* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: #333;
    font: normal 12px/1.3 Helvetica, sans-serif;
    margin: 0 auto 0;
    padding: 0;
    width: 800px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

p {
    margin: 0 0 1em;
}

a:link,
a:visited {
    color: #0464BB;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: #0464BB;
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.1;
    margin-bottom: 0;
    padding-bottom: 0;
}

a#logo {
    background: url(images/logo-extensible.gif) no-repeat 0 100%;
    display: block;
    height: 50px;
    margin: 30px 0 15px;
    overflow: hidden;
    padding-top: 20px;
    text-indent: 150%;
    white-space: nowrap;
    width: 229px;
}

#header {
    background: url(images/cal-screenshot.jpg) no-repeat 100% 0;
    height: 275px;
}

#header h1 {
    font-size: 32px;
    margin: 35px 0 12px;
    width: 350px;
}

#header p {
    color: #555;
    font-size: 16px;
    line-height: 1.5;
    width: 400px;
}

div.button-wrap {
    padding: 0 0 1em;
}

.button:link,
.button:visited {
    background: #2a64a6;
    border: 1px solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.4) transparent;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    color: #fff;
    display: table-cell;
    font-size: 13px;
    font-weight: bold;
    height: 13px;
    padding: 2px 15px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    white-space: nowrap;
}

.button:hover,
.button:focus {
    background: #265B98;
}

.button:active {
    background: #1F4C7E;
    border-color: rgba(0, 0, 0, 0.4) transparent transparent transparent;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
}

h2 {
    font-size: 18px;
}

#header {
    display: block;
    margin: 0 0 24px;
    padding: 0;
}

div#container {
    margin: 0 auto;
    overflow: hidden;
    width: 800px;
}

.section {
    float: left;
    margin-right: 50px;
    width: 233px;
}

.section h2 {
    line-height: 30px;
    margin: 0;
    padding: 0;
}

#engage ul li {
    height: 16px;
    line-height: 16px;
}

#engage ul#social li a {
    color: #777;
    display: block;
    height: 16px;
    line-height: 16px;
    margin: 6px 0 0;
    padding-left: 22px;
    text-decoration: none;
}

#engage ul#social li a span {
    color: #0464BB;
    font-weight: bold;
    text-decoration: none;
}

#engage ul#social li a:hover {
    color: #777;
    text-decoration: none;
}

#engage ul#social li a:hover span {
    color: #0464BB;
    text-decoration: underline;
}

#engage a#twitter {
    background: url(images/social_sprite.gif) no-repeat 0 0;
}

#engage a#twitter:hover {
    background: url(images/social_sprite.gif) no-repeat 0 -16px;
}

#engage a#facebook {
    background: url(images/social_sprite.gif) no-repeat 0 -64px;
}

#engage a#facebook:hover {
    background: url(images/social_sprite.gif) no-repeat 0 -80px;
}

#engage a#blog {
    background: url(images/social_sprite.gif) no-repeat 0 -96px;
}

#engage a#blog:hover {
    background: url(images/social_sprite.gif) no-repeat 0 -112px;
}

#engage a#email {
    background: url(images/social_sprite.gif) no-repeat 0 -128px;
}

#engage a#email:hover {
    background: url(images/social_sprite.gif) no-repeat 0 -144px;
}

#license {
    margin-right: 0;
}

ul, ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#learn ul li,
#license ul li {
    background: url(images/li.png) no-repeat 1px 2px;
    padding: 0 0 0.5em 10px;
    margin-left: 0;
}