@media print, screen { //and (max-width: 1023px) {
  .categoria {
    grid-column: 1 / 3;
  }
}

@media print, screen and (max-width: 1023px) and (min-width: 639px) {
  .dosColumnas {
    grid-column: 1/3;
  }
}

@media print, screen and (min-width: 639px) {
  .dosColumnasAmplio {
    grid-column: 1/3;
  }
}
.error {
  display: block;
  margin: 0;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.8;
  color: red;
}

//html{
//  background: #ccc !important;
//}
//
//.sauji {
//  font-family: arial;
//  background: #ccc;
//  width: 820px !important;
//  margin: auto !important;
//  padding: 0 20px;
//}
//  .pagina {
//    background: rgb(255, 255, 255);
//    /*margin: 10px;*/
//    -webkit-border-radius: 0.5em;
//    -moz-border-radius: 0.5em;
//    border-radius: 0.5em;
//    border: 1px solid rgb(169, 170, 172);
//  }
//
//  .linea-gris {
//    border: 5px solid rgb(169, 170, 172);
//  }
//
//  .header {
//    text-align: center;
//
//    hr {
//      border: 6px solid #aaa;
//    }
//
//    img {
//      -webkit-border-radius: 0.5em 0.5em 0 0;
//      -moz-border-radius: 0.5em 0.5em 0 0;
//      border-radius: 0.5em 0.5em 0 0;
//    }
//  }
//
//  .form-crm {
//    padding: 10px;
//
//    h1 {
//      font-size: 2em;
//      color: rgb(0, 50, 99);
//    }
//
//    h2 {
//      color: rgb(0, 50, 99);
//      font-size: 1.5em;
//      font-weight: bold;
//      border-bottom: rgb(0, 50, 99);
//      margin: 15px 0 15px 0;
//    }
//  }
//}