form.form-crm {
  margin-bottom: 1em;
}

.pagina {
  padding-top: 10px;
}

.form-crm {
  padding: 10px;

  textarea, select {
    margin-bottom: 12px;
  }

  select {
    height: 2em;
  }

  .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    height: 1.5em;
  }

  .chosen-container {
    margin-bottom: 0.5em;
  }

  .field-hint {
    font-style: italic;
    color: #888;
    font-size: 0.9em;
    margin-bottom: 20px;
  }

  fieldset {
    margin: 8px 0;
    border: 1px solid #ccc;
    padding: 8px;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
    font-weight: bold;
  }
}


.inline {
  display: inline;
}

.right {
  float: right;
}


br {
  clear: both;
}

.menu-idioma {
  margin-right: 10px;
  padding-top: 10px;

  ul {
    margin: 3px 0 10px 0;
    padding: 0 0 0 30px;
  }

  li {
    display: inline;
    padding: 6px 8px;
    color: #777c86;
  }
}

.main-container {
  border: 1px solid #aaa;
  border-radius: 10px;
  background-color: #fff;
  margin: 15px auto;
  width: 760px;
}

.texto-lopd {
  font-size: 0.8em;
  line-height: 1.2em;
  color: #666;
  padding-top: 1em;
  border-top: 1px solid #aaa;
}

.mb12 {
  margin-bottom: 12px;
}

.loading-mask {
  position: relative;
  height: 100%;
  width: 100%;
  opacity: 50%;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
  }

  &::after {
    content: "";
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: transparent rgb(0, 50, 99) rgb(0, 50, 99);
    border-radius: 50%;
    width: 96px;
    height: 96px;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
    animation: 2s linear 0s normal none infinite running spin;
    z-index: 100;
  }
}

.question {
  color: #0088dd;

  &:hover {
    color: #0055bb;
    cursor: help;
  }
}

a {
  &.question {
    position: relative; /*this is the key*/
    z-index: 24;
    text-decoration: none;

    span {
      display: none
    }

    &:hover {
      z-index: 25;

      span { /*the span will display just on :hover state*/
        display: block;
        position: absolute;
        padding: 3px;
        top: 2em;
        left: 2em;
        width: 15em;
        border: 1px solid #000;
        background-color: #eee;
        color: #000;
        text-align: left;
      }
    }
  }
}

.header {
  justify-content: center;
  display: flex;
}

.idiomas {
  display: flex;
  margin-right: 10px;
  justify-content: right;
}

.textoPie {
  color: rgb(88, 88, 90);
  font-size: 0.7em !important;
  font-weight: normal;
  padding: 10px;
  text-align: center;
}

.formularioTitulo {
  font-size: 1.5em;
}

.hide {
  display: none;
}

.botonRedondo {
  //float: left;
  background-color: #002744;
  color: rgb(255, 255, 255);
  border: solid #999 1px;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  //display: block;
  padding: 0.2em 0.5em;
  margin: 0.2em 0.0em;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}

.cabecera {
  margin-bottom: 10px;
  padding-top:20px;
}

.ficha {
  text-align: left;
  display: block;
  background-color: lightgrey;
  border: solid black 1px;
  padding: 5px;
  margin-bottom: 10px;
}

.selectMultiple {
  min-height: 10em;
}
