.study-card {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.study-type {
  /*background-color: #007996;*/
  /*color: #ddd;*/
  /*padding: 5px 10px;*/
  /*border-radius: 10px;*/
  border-bottom-style: double;
  border-bottom-color: #0A246A;
  text-transform: uppercase;
  /*font-size: 0.9em;*/
}
.card-header{
  /*text-align: center;*/
  display: grid;
  /*font-size: 0.9em;*/
}
.card-body{
  margin-top: 5px;
}
.study-name {
  font-size: 0.9em;
  font-weight: bold;
}
.university {
  color: #555;
  font-size: 0.8em;
}
.year {
  color: #888;
  font-size: 0.8em;
}