.imagenFooter {
  position: relative;
  display: inline-block;
  text-align: center;
}

.textoImagen {
  color: #0a0a0a;
  font-size: 1.2rem;
}

.textoBotonFooterPremium {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: #002744;
  padding: 5px;

  &:hover {
    cursor: pointer;
  }
}

.textoInfoLogin {
  margin-top: 10px;
  text-align: justify;
}

.divMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.botonMenu {
  width: 100%;
}

.imgMenu {
  width: 100%;
  max-width: 400px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.contentMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
