@media print, screen and (min-width: 639px) {
  .boton-guardar {
    float: right;
  }
}

.campanyaInfo {
  font-style: italic;
  font-size: 0.8em !important;
  padding: 10px 0 10px 0;
}

.cuadro-campanya {
  display: flex;
  flex-direction: column;
}

.content-campanya {
  flex: 1;
}

.boton-accion {
  align-self: auto;
}

.titulo-subrayado {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    border-bottom: 1px solid black;
  }
}

.cuentas-accordion {
  background-color: #eee;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

.cuentas-accordion-button {
  background-color: inherit;
  font-size: 18px;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;

  &:hover {
    background-color: #aaa;
  }

  &:after {
    content: '\002795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
    transition: 0.4s;
  }
}

.contenido-accordion {
  padding: 20px;
}

.active {
  background-color: #ccc; /* Cambia el color del botón al hacer clic */
  &:after {
    content: '\002796'; /* Unicode character para "minus" sign (-) */
  }
}

.titulo-suscriptores {
  font-weight: bold;
}

.checkbox-suscriptores {
  float: right;
}

@media print, screen and (min-width: 639px) {
  .checkbox-suscriptores {
    margin-right: 5rem;
  }
}

.descripcion-suscriptores {
  grid-column: 1 / span 2;
  margin-left: 1%;
  font-style: italic;
  font-size: 0.8rem;
  margin-top: -1rem;
}

@media print, screen and (min-width: 1023px) {
  .descripcion-suscriptores {
    margin-top: -2rem;
  }
}

.ui-button {
  color: white;
  float: right;

  &:hover {
    cursor: pointer;
  }
}

.ui-dialog {
  background-color: #f0f0f0;

  &-titlebar {
    background-color: #333;
    color: #fff;
    font-weight: bold;
    padding: 1rem;
  }

  &-content {
    padding: 20px;
    font-size: 16px;
  }

}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.listado-formulario {
  justify-content: center;
}

.botones-menu {
  display: flex;
  flex-direction: column;
}

@media print, screen and (min-width: 639px) {
  .botones-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  form .button, form button {
    width: 15rem;
    max-width: 15rem;
  }
}

.botones-menu {
  margin-top: 1.5rem;
}

form .button, form button {
  //width: 15rem;
  max-width: 100%;
}

.info-telefonos {
  text-align: center;
  font-size: 0.9rem;
  font-style: italic;
}

.aviso {
  text-align: justify;
}
