.t50 {
    width: 50px;
}

.t75 {
    width: 75px;
}

.t100 {
    width: 100px;
}

.t125 {
    width: 125px;
}

.t150 {
    width: 150px;
}

.t175 {
    width: 175px;
}

.t200 {
    width: 200px;
}

.t225 {
    width: 225px;
}

.t250 {
    width: 250px;
}

.t300 {
    width: 300px;
}

.t350 {
    width: 350px;
}

.t400 {
    width: 400px;
}

.t450 {
    width: 450px;
}

.t500 {
    width: 500px;
}

.ml175 {
    margin-left: 175px;
}

.ml200 {
    margin-left: 200px;
}

.pt10 {
    padding-top: 10px;
}

body {
    font-family: arial;
    width: 800px !important;
    background: rgb(200, 201, 202);
    margin: auto !important;
}

.pagina {
    background: rgb(255, 255, 255);
    margin: 10px;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    border: 1px solid rgb(169, 170, 172);
}

.pagina-formulario {
    background: rgb(238, 238, 238);
}

.linea-gris {
    border: 5px solid rgb(169, 170, 172);
}

.menu-idioma {
    margin-right: 10px;
    padding-top: 10px;
}

#cuerpo {
    padding: 10px;
}

.completar{
    width: 100%;
}

.botonRedondo {
    float: left;
    background-color: rgb(183, 183, 4);
    color: rgb(0, 0, 0);
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    display: block;
    padding: 0.2em 0.5em;
    margin: 0.2em 0.5em;
    text-align: center;
}

.eliminarEstudio {
    float: left;
    /*background-color: rgb(183, 183, 4);*/
    margin: 0em 0.5em;
    color: rgb(200, 200, 200);
    display: inline;
    text-align: center;
}

.botonRedondoBlanco {
    float: left;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: solid #999 1px;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    display: block;
    padding: 0.2em 0.5em;
    margin: 0.2em 0.5em;
    text-align: center;
}

.botonUsuarioCorporativo {
    /*float: left;*/
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: solid #999 1px;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    /*display: block;*/
    padding: 1em 1em;
    margin: 0.2em 0.5em;
    text-align: center;
}

.botonRedondoRojo {
    float: right;
    background-color: red;
    color: #fff;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    display: block;
    padding: 0.2em 0.5em;
    margin: 0.2em 0.5em;
    text-align: center;
}

.textoAcceso {
    color: rgb(0, 50, 99);
    font-weight: bold;
    cursor: pointer;
    font-size: 1.1em !important;
}

.question {
    color:#0088dd;
}

.question:hover {
    color:#0055bb;
    cursor: help;
}

a.question{
    position:relative; /*this is the key*/
    z-index:24;
    text-decoration:none
}

a.question:hover {
    z-index:25;
}
a.question span {
    display: none
}
a.question:hover span{ /*the span will display just on :hover state*/
    display:block;
    position:absolute;
    padding:3px;
    top:2em; left:2em; width:15em;
    border:1px solid #000;
    background-color:#eee;
    color:#000;
    text-align: left;
}

.apartado {
    color: rgb(183, 183, 4);
    font-size: 1.1em;
    font-weight: bold;
    border-bottom: 1px solid rgb(183, 183, 4);
    margin: 15px 0 15px 0;
}

.titulo {
    color: rgb(88, 88, 90);
    font-size: 0.9em;
    font-weight: bold;
    padding: 10px 0 5px 0;
}

.texto {
    color: rgb(88, 88, 90);
    font-size: 0.9em;
    font-weight: normal;
    padding: 1px 0 1px 0;
}

.textoActivo {
    color: rgb(88, 88, 90);
    font-size: 0.9em;
    font-weight: normal;
    padding: 1px 0 1px 0;
}

.textoInactivo {
    color: rgb(169, 170, 172);
    font-size: 0.9em;
    font-weight: normal;
    padding: 1px 0 1px 0;
}

.textoLey {
    color: rgb(88, 88, 90);
    font-size: 0.8em !important;
    font-weight: normal;
    font-style: italic;
    padding: 10px;
}

.textoPie {
    color: rgb(88, 88, 90);
    font-size: 0.7em !important;
    font-weight: normal;
    padding: 10px;
    text-align: center;
}

.etiqueta {
    color: rgb(88, 88, 90);
    font-size: 0.85em;
    font-weight: normal;
    padding: 1px 0 1px 0;
}

.valor {
    color: rgb(0, 0, 0);
    font-size: 0.85em;
    font-weight: normal;
}

ul {
    margin: 3px 0 10px 0;
    padding: 0 0 0 30px;
}

.click {
    cursor: pointer;
}

.inline {
    display: inline;
}

br {
    clear: both;
}

hr {
    border: 1px solid rgb(169, 170, 172);
}

p {
    color: rgb(88, 88, 90);
    font-size: 0.9em;
    font-weight: normal;
    padding: 1px 0 5px 0;
}

.textoBase {
    text-align: justify;
    font-size: 0.9em !important;
    font-family: arial, helvetica, clean, sans-serif;
    font-weight: normal;
    color: #000;
}

.right {
    float: right;
}

.click {
    cursor: pointer;
}

.enlace {
    color: #00e;
    font-size: 0.9em;
    font-style: italic;
}

.cuadro {
    border: 1px rgb(183, 183, 4) solid;
    background-color: rgb(255, 255, 220);
    padding: 1em;
    margin: 0 0 10px 0px;
}

a {
    text-decoration: none;
}

.descripcion {
    color: #999;
    font-style: italic;
    font-weight: normal;
    padding: 0 0 5px 0;
}

.tabs dd.active, .tabs li.active {
    border-top: 3px solid rgb(183, 183, 4) !important;
    margin-top: -3px;
}

.tabs dd a, .tabs li a {
    padding: 0px 15px !important;
}

ul.accordion > li.active {
    border-top: none !important;
}

ul.accordion > li .title {
    background: rgb(255, 255, 220) !important;
    font-weight: bold !important;
}

ul.accordion > li .content {
    background: rgb(255, 255, 220) !important;
}

.idiomaMenu li {
    display: inline;
    padding: 6px 8px;
    color: #777c86;
}

.hidden {
    display: none;
}

.ignore {
    display: none;
}

.loading-mask {
    position: relative;
    height: 100%;
    width: 100%;
}

.loading-mask::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.loading-mask::after {
    content: "";
    position: absolute;
    border-width: 3px;
    border-style: solid;
    border-color: transparent rgb(183, 183, 4) rgb(183, 183, 4);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
    animation: 2s linear 0s normal none infinite running spin;
    z-index: 100;
}

.field-hint {
    font-style: italic;
    font-size: 0.8em !important;
    margin-bottom: 20px;
}

.campanyaInfo {
    clear: both;
    font-style: italic;
    font-size: 0.8em !important;
    padding-left: 10px;
}

.bottonCampanya {
    float: right !important;
}

select {
    padding: 5px 0 3px 0 !important;
}

.ventanaLey {
    border: 2px double rgb(169, 170, 172);
    z-index: 100;
    position: absolute;
    background: rgb(250, 250, 250);
    padding: 10px;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    right: 5px;
}