.form-disabled-label {
    opacity: .3;
}

.form-label-date {

}

.form-label-exams-date {
    color: grey;
}

.form-label-exam-date-manual {
    color: grey;
}

.form-label-date-manual {

}

.form-legend-exams {
    color: grey;
    font-style: italic;
}

.x-panel.enviaments-tree .tree-mitad .x-tree-checkbox {
    background-position: 0 -26px !important;
}

.x-panel.enviaments-tree .tree-completo .x-tree-checkbox {
    background-position: 0 -13px !important;
}

x-panel.enviaments-tree .tree-vacio .x-tree-checkbox {
    background-position: 0 0px !important;
}

.grid-row-not-avaible div {
    /*background-color: #FFEEBF;*/
    font-style: italic;
    color: grey;
}

.time {
    background-image: url(http://static.uji.es/js/extjs/uji-commons-extjs/img/time.png) !important;
    background-repeat: no-repeat;
}

.x-mask {
    opacity: 0.3;
}

.sin-borde {
    border: none;
}

.arrow-left {
    background-image: url(http://static.uji.es/js/extjs/uji-commons-extjs/img/arrow_left.png) !important;
    padding: 10px !important;
    background-repeat: no-repeat;
}

.hidden {
    display: none;
}

.x-grid-row-summary {
    background-color: #e7e7e7 !important;
    font-weight: bold;
}

.morosoCls td {
    color: red;
}

.autoCls td {
    color: darkgrey;
}

.clienteNoDefinitivo .x-grid-cell {
    color: red;
}
.imgFoto{
    background: url('/crm/img/nouser.png') no-repeat;
    background-size: 100% 100%;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
}