.imagen_mini {
    padding: 12px;
    border-style: solid;
    border-width :2px;
    margin-top : 12px;
    margin-right : 12px;
    float : left;
    width : 350px;
    height : 350px;
    /*scroll : true;*/

}