@charset "UTF-8";
@media print, screen {
  .categoria {
    grid-column: 1 / 3;
  }
}
@media print, screen and (max-width: 1023px) and (min-width: 639px) {
  .dosColumnas {
    grid-column: 1/3;
  }
}
@media print, screen and (min-width: 639px) {
  .dosColumnasAmplio {
    grid-column: 1/3;
  }
}
.error {
  display: block;
  margin: 0;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.8;
  color: red;
}

form.form-crm {
  margin-bottom: 1em;
}

.pagina {
  padding-top: 10px;
}

.form-crm {
  padding: 10px;
}
.form-crm textarea, .form-crm select {
  margin-bottom: 12px;
}
.form-crm select {
  height: 2em;
}
.form-crm .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  height: 1.5em;
}
.form-crm .chosen-container {
  margin-bottom: 0.5em;
}
.form-crm .field-hint {
  font-style: italic;
  color: #888;
  font-size: 0.9em;
  margin-bottom: 20px;
}
.form-crm fieldset {
  margin: 8px 0;
  border: 1px solid #ccc;
  padding: 8px;
}
.form-crm h1 {
  font-size: 2em;
}
.form-crm h2 {
  font-size: 1.5em;
  font-weight: bold;
}

.inline {
  display: inline;
}

.right {
  float: right;
}

br {
  clear: both;
}

.menu-idioma {
  margin-right: 10px;
  padding-top: 10px;
}
.menu-idioma ul {
  margin: 3px 0 10px 0;
  padding: 0 0 0 30px;
}
.menu-idioma li {
  display: inline;
  padding: 6px 8px;
  color: #777c86;
}

.main-container {
  border: 1px solid #aaa;
  border-radius: 10px;
  background-color: #fff;
  margin: 15px auto;
  width: 760px;
}

.texto-lopd {
  font-size: 0.8em;
  line-height: 1.2em;
  color: #666;
  padding-top: 1em;
  border-top: 1px solid #aaa;
}

.mb12 {
  margin-bottom: 12px;
}

.loading-mask {
  position: relative;
  height: 100%;
  width: 100%;
  opacity: 50%;
}
.loading-mask::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}
.loading-mask::after {
  content: "";
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #003263 #003263;
  border-radius: 50%;
  width: 96px;
  height: 96px;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
  animation: 2s linear 0s normal none infinite running spin;
  z-index: 100;
}

.question {
  color: #0088dd;
}
.question:hover {
  color: #0055bb;
  cursor: help;
}

a.question {
  position: relative;
  /*this is the key*/
  z-index: 24;
  text-decoration: none;
}
a.question span {
  display: none;
}
a.question:hover {
  z-index: 25;
}
a.question:hover span {
  /*the span will display just on :hover state*/
  display: block;
  position: absolute;
  padding: 3px;
  top: 2em;
  left: 2em;
  width: 15em;
  border: 1px solid #000;
  background-color: #eee;
  color: #000;
  text-align: left;
}

.header {
  justify-content: center;
  display: flex;
}

.idiomas {
  display: flex;
  margin-right: 10px;
  justify-content: right;
}

.textoPie {
  color: #58585a;
  font-size: 0.7em !important;
  font-weight: normal;
  padding: 10px;
  text-align: center;
}

.formularioTitulo {
  font-size: 1.5em;
}

.hide {
  display: none;
}

.botonRedondo {
  background-color: #002744;
  color: white;
  border: solid #999 1px;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  padding: 0.2em 0.5em;
  margin: 0.2em 0.0em;
  text-align: center;
}
.botonRedondo:hover {
  cursor: pointer;
}

.cabecera {
  margin-bottom: 10px;
  padding-top: 20px;
}

.ficha {
  text-align: left;
  display: block;
  background-color: lightgrey;
  border: solid black 1px;
  padding: 5px;
  margin-bottom: 10px;
}

.selectMultiple {
  min-height: 10em;
}

.study-card {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.study-type {
  /*background-color: #007996;*/
  /*color: #ddd;*/
  /*padding: 5px 10px;*/
  /*border-radius: 10px;*/
  border-bottom-style: double;
  border-bottom-color: #0A246A;
  text-transform: uppercase;
  /*font-size: 0.9em;*/
}

.card-header {
  /*text-align: center;*/
  display: grid;
  /*font-size: 0.9em;*/
}

.card-body {
  margin-top: 5px;
}

.study-name {
  font-size: 0.9em;
  font-weight: bold;
}

.university {
  color: #555;
  font-size: 0.8em;
}

.year {
  color: #888;
  font-size: 0.8em;
}

.imagenFooter {
  position: relative;
  display: inline-block;
  text-align: center;
}

.textoImagen {
  color: #0a0a0a;
  font-size: 1.2rem;
}

.textoBotonFooterPremium {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: #002744;
  padding: 5px;
}
.textoBotonFooterPremium:hover {
  cursor: pointer;
}

.textoInfoLogin {
  margin-top: 10px;
  text-align: justify;
}

.divMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.botonMenu {
  width: 100%;
}

.imgMenu {
  width: 100%;
  max-width: 400px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.contentMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media print, screen and (min-width: 639px) {
  .boton-guardar {
    float: right;
  }
}
.campanyaInfo {
  font-style: italic;
  font-size: 0.8em !important;
  padding: 10px 0 10px 0;
}

.cuadro-campanya {
  display: flex;
  flex-direction: column;
}

.content-campanya {
  flex: 1;
}

.boton-accion {
  align-self: auto;
}

.titulo-subrayado {
  position: relative;
}
.titulo-subrayado::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  border-bottom: 1px solid black;
}

.cuentas-accordion {
  background-color: #eee;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

.cuentas-accordion-button {
  background-color: inherit;
  font-size: 18px;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.cuentas-accordion-button:hover {
  background-color: #aaa;
}
.cuentas-accordion-button:after {
  content: '\002795';
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
  transition: 0.4s;
}

.contenido-accordion {
  padding: 20px;
}

.active {
  background-color: #ccc;
  /* Cambia el color del botón al hacer clic */
}
.active:after {
  content: '\002796';
  /* Unicode character para "minus" sign (-) */
}

.titulo-suscriptores {
  font-weight: bold;
}

.checkbox-suscriptores {
  float: right;
}

@media print, screen and (min-width: 639px) {
  .checkbox-suscriptores {
    margin-right: 5rem;
  }
}
.descripcion-suscriptores {
  grid-column: 1 / span 2;
  margin-left: 1%;
  font-style: italic;
  font-size: 0.8rem;
  margin-top: -1rem;
}

@media print, screen and (min-width: 1023px) {
  .descripcion-suscriptores {
    margin-top: -2rem;
  }
}
.ui-button {
  color: white;
  float: right;
}
.ui-button:hover {
  cursor: pointer;
}

.ui-dialog {
  background-color: #f0f0f0;
}
.ui-dialog-titlebar {
  background-color: #333;
  color: #fff;
  font-weight: bold;
  padding: 1rem;
}
.ui-dialog-content {
  padding: 20px;
  font-size: 16px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.listado-formulario {
  justify-content: center;
}

.botones-menu {
  display: flex;
  flex-direction: column;
}

@media print, screen and (min-width: 639px) {
  .botones-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  form .button, form button {
    width: 15rem;
    max-width: 15rem;
  }
}
.botones-menu {
  margin-top: 1.5rem;
}

form .button, form button {
  max-width: 100%;
}

.info-telefonos {
  text-align: center;
  font-size: 0.9rem;
  font-style: italic;
}

.aviso {
  text-align: justify;
}

#spinner {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 999;
  display: none;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  position: relative;
  left: 50%;
  top: 50%;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=main.css.map */
