/*!
 * Extensible 1.5.1
 * Copyright(c) 2010-2012 Extensible, LLC
 * licensing@ext.ensible.com
 * http://ext.ensible.com
 */
#app-header {
    text-align: center;
    font-family: arial;
}
.app-center-header .x-panel-header-text-default {
    font-family: helvetica, arial, sans-serif;
    color: #455C6F;
    font-size: 13px;
}
.app-center-header .x-panel-header-body .x-box-item {
    text-align: center;
}
#app-calendar .x-panel-header {
    padding-left: 0;
}
#app-west {
    border-right: 1px solid #99BBE8;
}
#app-west .x-panel-body {
    background: #D0DEF0;
}
#app-header-content h1 {
    float:left;
    margin: 9px 5px;
    font-size: 18px;
    color: #455C6F;
}
#app-logo {
    float: left;
    margin: 5px 10px;
    width: 30px;
}
#app-logo .logo-top,
#app-logo .logo-bottom {
    height: 0;
    overflow: hidden;
    margin: 0 1px;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #9F2727;
}
.ext-border-box #app-logo .logo-top,
.ext-border-box #app-logo .logo-bottom {
    height: 1px;
}
#logo-body {
    margin: 0;
    text-align: center;
    overflow: hidden;
    border-width: 3px 1px 0;
    border-style: solid;
    border-color: #9F2727;
    background: #fff;
    font-weight: bold;
    padding: 1px 0 2px;
    font-size: 18px;
    line-height: 18px;
    color: #455C6F;
}
#app-msg {
    background: #FAD163;
    padding: 2px 10px;
    font-weight: bold;
    font-size: 13px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}