/*!
 * Extensible 1.5.1
 * Copyright(c) 2010-2012 Extensible, LLC
 * licensing@ext.ensible.com
 * http://ext.ensible.com
 */
/*******************************************
 * 
 * Calendar event colors
 * 
 ******************************************/
/*
 * This is the text color for all-day and span events.
 * Changing this will affect all events across all calendars.
 */
.ext-cal-evr,
.ext-cal-evi,
.ext-cal-evt dl {
    color: #fff;
}

/*========================================================
 * The following block defines the default event styles 
 * used when no calendar info is available. It includes all
 * of the rules necessary to style a specific calendar.
 */
/* The text color for non-all-day events that have no background color */
.x-cal-default,
.x-cal-default-x .ext-cal-evb,
.ext-ie .x-cal-default-ad,
.ext-opera .x-cal-default-ad {
    color: #668CB3;
}
/* 
 * The background color for all-day and span events.  Sorry for all the rules,
 * they are mostly to accommodate browsers that do not handle border-radius.
 */
.ext-cal-day-col .x-cal-default,
.ext-dd-drag-proxy .x-cal-default,
.x-cal-default-ad,
.x-cal-default-ad .ext-cal-evm,
.x-cal-default .ext-cal-picker-icon,
.x-cal-default-x dl,
.x-calendar-palette em .x-cal-default {
    background-color: #668CB3;
}
/*
 * Yet more rules for IE/Opera
 */
.x-cal-default-ad,
.x-cal-default-ad .ext-cal-evm {
    border-color: #668CB3;
}
/*  END of default event styles
 * ========================================================
 */

/*
 * The block above defines the 3 rules required to style one calendar.
 * The following blocks are the exact same rules, but with different 
 * color definitions for each unique calendar.  Each specific calendar
 * has the default class name prefix "x-cal-" plus the calendar's unique class
 * id. To customize these colors you can simply alter the colors of existing
 * calendars, or you can create new style definitions as below, just making
 * sure that the class name you choose matches the StyleClass defined in your 
 * calendar store.
 */
/* ===== x-cal-1 ===== */
.x-cal-1,
.x-cal-1-x .ext-cal-evb,
.ext-ie .x-cal-1-ad,
.ext-opera .x-cal-1-ad {
    color: #fa7166;
}
.ext-cal-day-col .x-cal-1,
.ext-dd-drag-proxy .x-cal-1,
.x-cal-1-ad,
.x-cal-1-ad .ext-cal-evm,
.x-cal-1 .ext-cal-picker-icon,
.x-cal-1-x dl,
.x-calendar-palette .x-cal-1 span {
    background-color: #fa7166;
}
.x-cal-1-ad,
.x-cal-1-ad .ext-cal-evm {
    border-color: #fa7166;
}

/* ===== x-cal-2 ===== */
.x-cal-2,
.x-cal-2-x .ext-cal-evb,
.ext-ie .x-cal-2-ad,
.ext-opera .x-cal-2-ad {
    color: #cf2424;
}
.ext-cal-day-col .x-cal-2,
.ext-dd-drag-proxy .x-cal-2,
.x-cal-2-ad,
.x-cal-2-ad .ext-cal-evm,
.x-cal-2 .ext-cal-picker-icon,
.x-cal-2-x dl,
.x-calendar-palette .x-cal-2 span {
    background-color: #cf2424;
}
.x-cal-2-ad,
.x-cal-2-ad .ext-cal-evm {
    border-color: #cf2424;
}

/* ===== x-cal-3 ===== */
.x-cal-3,
.x-cal-3-x .ext-cal-evb,
.ext-ie .x-cal-3-ad,
.ext-opera .x-cal-3-ad {
    color: #a01a1a;
}
.ext-cal-day-col .x-cal-3,
.ext-dd-drag-proxy .x-cal-3,
.x-cal-3-ad,
.x-cal-3-ad .ext-cal-evm,
.x-cal-3 .ext-cal-picker-icon,
.x-cal-3-x dl,
.x-calendar-palette .x-cal-3 span {
    background-color: #a01a1a;
}
.x-cal-3-ad,
.x-cal-3-ad .ext-cal-evm {
    border-color: #a01a1a;
}

/* ===== x-cal-4 ===== */
.x-cal-4,
.x-cal-4-x .ext-cal-evb,
.ext-ie .x-cal-4-ad,
.ext-opera .x-cal-4-ad {
    color: #7e3838;
}
.ext-cal-day-col .x-cal-4,
.ext-dd-drag-proxy .x-cal-4,
.x-cal-4-ad,
.x-cal-4-ad .ext-cal-evm,
.x-cal-4 .ext-cal-picker-icon,
.x-cal-4-x dl,
.x-calendar-palette .x-cal-4 span {
    background-color: #7e3838;
}
.x-cal-4-ad,
.x-cal-4-ad .ext-cal-evm {
    border-color: #7e3838;
}

/* ===== x-cal-5 ===== */
.x-cal-5,
.x-cal-5-x .ext-cal-evb,
.ext-ie .x-cal-5-ad,
.ext-opera .x-cal-5-ad {
    color: #ca7609;
}
.ext-cal-day-col .x-cal-5,
.ext-dd-drag-proxy .x-cal-5,
.x-cal-5-ad,
.x-cal-5-ad .ext-cal-evm,
.x-cal-5 .ext-cal-picker-icon,
.x-cal-5-x dl,
.x-calendar-palette .x-cal-5 span {
    background-color: #ca7609;
}
.x-cal-5-ad,
.x-cal-5-ad .ext-cal-evm {
    border-color: #ca7609;
}

/* ===== x-cal-6 ===== */
.x-cal-6,
.x-cal-6-x .ext-cal-evb,
.ext-ie .x-cal-6-ad,
.ext-opera .x-cal-6-ad {
    color: #f88015;
}
.ext-cal-day-col .x-cal-6,
.ext-dd-drag-proxy .x-cal-6,
.x-cal-6-ad,
.x-cal-6-ad .ext-cal-evm,
.x-cal-6 .ext-cal-picker-icon,
.x-cal-6-x dl,
.x-calendar-palette .x-cal-6 span {
    background-color: #f88015;
}
.x-cal-6-ad,
.x-cal-6-ad .ext-cal-evm {
    border-color: #f88015;
}

/* ===== x-cal-7 ===== */
.x-cal-7,
.x-cal-7-x .ext-cal-evb,
.ext-ie .x-cal-7-ad,
.ext-opera .x-cal-7-ad {
    color: #eda12a;
}
.ext-cal-day-col .x-cal-7,
.ext-dd-drag-proxy .x-cal-7,
.x-cal-7-ad,
.x-cal-7-ad .ext-cal-evm,
.x-cal-7 .ext-cal-picker-icon,
.x-cal-7-x dl,
.x-calendar-palette .x-cal-7 span {
    background-color: #eda12a;
}
.x-cal-7-ad,
.x-cal-7-ad .ext-cal-evm {
    border-color: #eda12a;
}

/* ===== x-cal-8 ===== */
.x-cal-8,
.x-cal-8-x .ext-cal-evb,
.ext-ie .x-cal-8-ad,
.ext-opera .x-cal-8-ad {
    color: #d5b816;
}
.ext-cal-day-col .x-cal-8,
.ext-dd-drag-proxy .x-cal-8,
.x-cal-8-ad,
.x-cal-8-ad .ext-cal-evm,
.x-cal-8 .ext-cal-picker-icon,
.x-cal-8-x dl,
.x-calendar-palette .x-cal-8 span {
    background-color: #d5b816;
}
.x-cal-8-ad,
.x-cal-8-ad .ext-cal-evm {
    border-color: #d5b816;
}

/* ===== x-cal-9 ===== */
.x-cal-9,
.x-cal-9-x .ext-cal-evb,
.ext-ie .x-cal-9-ad,
.ext-opera .x-cal-9-ad {
    color: #e281ca;
}
.ext-cal-day-col .x-cal-9,
.ext-dd-drag-proxy .x-cal-9,
.x-cal-9-ad,
.x-cal-9-ad .ext-cal-evm,
.x-cal-9 .ext-cal-picker-icon,
.x-cal-9-x dl,
.x-calendar-palette .x-cal-9 span {
    background-color: #e281ca;
}
.x-cal-9-ad,
.x-cal-9-ad .ext-cal-evm {
    border-color: #e281ca;
}

/* ===== x-cal-10 ===== */
.x-cal-10,
.x-cal-10-x .ext-cal-evb,
.ext-ie .x-cal-10-ad,
.ext-opera .x-cal-10-ad {
    color: #bf53a4;
}
.ext-cal-day-col .x-cal-10,
.ext-dd-drag-proxy .x-cal-10,
.x-cal-10-ad,
.x-cal-10-ad .ext-cal-evm,
.x-cal-10 .ext-cal-picker-icon,
.x-cal-10-x dl,
.x-calendar-palette .x-cal-10 span {
    background-color: #bf53a4;
}
.x-cal-10-ad,
.x-cal-10-ad .ext-cal-evm {
    border-color: #bf53a4;
}

/* ===== x-cal-11 ===== */
.x-cal-11,
.x-cal-11-x .ext-cal-evb,
.ext-ie .x-cal-11-ad,
.ext-opera .x-cal-11-ad {
    color: #9d3283;
}
.ext-cal-day-col .x-cal-11,
.ext-dd-drag-proxy .x-cal-11,
.x-cal-11-ad,
.x-cal-11-ad .ext-cal-evm,
.x-cal-11 .ext-cal-picker-icon,
.x-cal-11-x dl,
.x-calendar-palette .x-cal-11 span {
    background-color: #9d3283;
}
.x-cal-11-ad,
.x-cal-11-ad .ext-cal-evm {
    border-color: #9d3283;
}

/* ===== x-cal-12 ===== */
.x-cal-12,
.x-cal-12-x .ext-cal-evb,
.ext-ie .x-cal-12-ad,
.ext-opera .x-cal-12-ad {
    color: #7a0f60;
}
.ext-cal-day-col .x-cal-12,
.ext-dd-drag-proxy .x-cal-12,
.x-cal-12-ad,
.x-cal-12-ad .ext-cal-evm,
.x-cal-12 .ext-cal-picker-icon,
.x-cal-12-x dl,
.x-calendar-palette .x-cal-12 span {
    background-color: #7a0f60;
}
.x-cal-12-ad,
.x-cal-12-ad .ext-cal-evm {
    border-color: #7a0f60;
}

/* ===== x-cal-13 ===== */
.x-cal-13,
.x-cal-13-x .ext-cal-evb,
.ext-ie .x-cal-13-ad,
.ext-opera .x-cal-13-ad {
    color: #542382;
}
.ext-cal-day-col .x-cal-13,
.ext-dd-drag-proxy .x-cal-13,
.x-cal-13-ad,
.x-cal-13-ad .ext-cal-evm,
.x-cal-13 .ext-cal-picker-icon,
.x-cal-13-x dl,
.x-calendar-palette .x-cal-13 span {
    background-color: #542382;
}
.x-cal-13-ad,
.x-cal-13-ad .ext-cal-evm {
    border-color: #542382;
}

/* ===== x-cal-14 ===== */
.x-cal-14,
.x-cal-14-x .ext-cal-evb,
.ext-ie .x-cal-14-ad,
.ext-opera .x-cal-14-ad {
    color: #7742a9;
}
.ext-cal-day-col .x-cal-14,
.ext-dd-drag-proxy .x-cal-14,
.x-cal-14-ad,
.x-cal-14-ad .ext-cal-evm,
.x-cal-14 .ext-cal-picker-icon,
.x-cal-14-x dl,
.x-calendar-palette .x-cal-14 span {
    background-color: #7742a9;
}
.x-cal-14-ad,
.x-cal-14-ad .ext-cal-evm {
    border-color: #7742a9;
}

/* ===== x-cal-15 ===== */
.x-cal-15,
.x-cal-15-x .ext-cal-evb,
.ext-ie .x-cal-15-ad,
.ext-opera .x-cal-15-ad {
    color: #8763ca;
}
.ext-cal-day-col .x-cal-15,
.ext-dd-drag-proxy .x-cal-15,
.x-cal-15-ad,
.x-cal-15-ad .ext-cal-evm,
.x-cal-15 .ext-cal-picker-icon,
.x-cal-15-x dl,
.x-calendar-palette .x-cal-15 span {
    background-color: #8763ca;
}
.x-cal-15-ad,
.x-cal-15-ad .ext-cal-evm {
    border-color: #8763ca;
}

/* ===== x-cal-16 ===== */
.x-cal-16,
.x-cal-16-x .ext-cal-evb,
.ext-ie .x-cal-16-ad,
.ext-opera .x-cal-16-ad {
    color: #b586e2;
}
.ext-cal-day-col .x-cal-16,
.ext-dd-drag-proxy .x-cal-16,
.x-cal-16-ad,
.x-cal-16-ad .ext-cal-evm,
.x-cal-16 .ext-cal-picker-icon,
.x-cal-16-x dl,
.x-calendar-palette .x-cal-16 span {
    background-color: #b586e2;
}
.x-cal-16-ad,
.x-cal-16-ad .ext-cal-evm {
    border-color: #b586e2;
}

/* ===== x-cal-17 ===== */
.x-cal-17,
.x-cal-17-x .ext-cal-evb,
.ext-ie .x-cal-17-ad,
.ext-opera .x-cal-17-ad {
    color: #7399f9;
}
.ext-cal-day-col .x-cal-17,
.ext-dd-drag-proxy .x-cal-17,
.x-cal-17-ad,
.x-cal-17-ad .ext-cal-evm,
.x-cal-17 .ext-cal-picker-icon,
.x-cal-17-x dl,
.x-calendar-palette .x-cal-17 span {
    background-color: #7399f9;
}
.x-cal-17-ad,
.x-cal-17-ad .ext-cal-evm {
    border-color: #7399f9;
}

/* ===== x-cal-18 ===== */
.x-cal-18,
.x-cal-18-x .ext-cal-evb,
.ext-ie .x-cal-18-ad,
.ext-opera .x-cal-18-ad {
    color: #4e79e6;
}
.ext-cal-day-col .x-cal-18,
.ext-dd-drag-proxy .x-cal-18,
.x-cal-18-ad,
.x-cal-18-ad .ext-cal-evm,
.x-cal-18 .ext-cal-picker-icon,
.x-cal-18-x dl,
.x-calendar-palette .x-cal-18 span {
    background-color: #4e79e6;
}
.x-cal-18-ad,
.x-cal-18-ad .ext-cal-evm {
    border-color: #4e79e6;
}

/* ===== x-cal-19 ===== */
.x-cal-19,
.x-cal-19-x .ext-cal-evb,
.ext-ie .x-cal-19-ad,
.ext-opera .x-cal-19-ad {
    color: #2951b9;
}
.ext-cal-day-col .x-cal-19,
.ext-dd-drag-proxy .x-cal-19,
.x-cal-19-ad,
.x-cal-19-ad .ext-cal-evm,
.x-cal-19 .ext-cal-picker-icon,
.x-cal-19-x dl,
.x-calendar-palette .x-cal-19 span {
    background-color: #2951b9;
}
.x-cal-19-ad,
.x-cal-19-ad .ext-cal-evm {
    border-color: #2951b9;
}

/* ===== x-cal-20 ===== */
.x-cal-20,
.x-cal-20-x .ext-cal-evb,
.ext-ie .x-cal-20-ad,
.ext-opera .x-cal-20-ad {
    color: #133897;
}
.ext-cal-day-col .x-cal-20,
.ext-dd-drag-proxy .x-cal-20,
.x-cal-20-ad,
.x-cal-20-ad .ext-cal-evm,
.x-cal-20 .ext-cal-picker-icon,
.x-cal-20-x dl,
.x-calendar-palette .x-cal-20 span {
    background-color: #133897;
}
.x-cal-20-ad,
.x-cal-20-ad .ext-cal-evm {
    border-color: #133897;
}

/* ===== x-cal-21 ===== */
.x-cal-21,
.x-cal-21-x .ext-cal-evb,
.ext-ie .x-cal-21-ad,
.ext-opera .x-cal-21-ad {
    color: #1a5173;
}
.ext-cal-day-col .x-cal-21,
.ext-dd-drag-proxy .x-cal-21,
.x-cal-21-ad,
.x-cal-21-ad .ext-cal-evm,
.x-cal-21 .ext-cal-picker-icon,
.x-cal-21-x dl,
.x-calendar-palette .x-cal-21 span {
    background-color: #1a5173;
}
.x-cal-21-ad,
.x-cal-21-ad .ext-cal-evm {
    border-color: #1a5173;
}

/* ===== x-cal-22 ===== */
.x-cal-22,
.x-cal-22-x .ext-cal-evb,
.ext-ie .x-cal-22-ad,
.ext-opera .x-cal-22-ad {
    color: #1a699c;
}
.ext-cal-day-col .x-cal-22,
.ext-dd-drag-proxy .x-cal-22,
.x-cal-22-ad,
.x-cal-22-ad .ext-cal-evm,
.x-cal-22 .ext-cal-picker-icon,
.x-cal-22-x dl,
.x-calendar-palette .x-cal-22 span {
    background-color: #1a699c;
}
.x-cal-22-ad,
.x-cal-22-ad .ext-cal-evm {
    border-color: #1a699c;
}

/* ===== x-cal-23 ===== */
.x-cal-23,
.x-cal-23-x .ext-cal-evb,
.ext-ie .x-cal-23-ad,
.ext-opera .x-cal-23-ad {
    color: #3694b7;
}
.ext-cal-day-col .x-cal-23,
.ext-dd-drag-proxy .x-cal-23,
.x-cal-23-ad,
.x-cal-23-ad .ext-cal-evm,
.x-cal-23 .ext-cal-picker-icon,
.x-cal-23-x dl,
.x-calendar-palette .x-cal-23 span {
    background-color: #3694b7;
}
.x-cal-23-ad,
.x-cal-23-ad .ext-cal-evm {
    border-color: #3694b7;
}

/* ===== x-cal-24 ===== */
.x-cal-24,
.x-cal-24-x .ext-cal-evb,
.ext-ie .x-cal-24-ad,
.ext-opera .x-cal-24-ad {
    color: #64b9d9;
}
.ext-cal-day-col .x-cal-24,
.ext-dd-drag-proxy .x-cal-24,
.x-cal-24-ad,
.x-cal-24-ad .ext-cal-evm,
.x-cal-24 .ext-cal-picker-icon,
.x-cal-24-x dl,
.x-calendar-palette .x-cal-24 span {
    background-color: #64b9d9;
}
.x-cal-24-ad,
.x-cal-24-ad .ext-cal-evm {
    border-color: #64b9d9;
}

/* ===== x-cal-25 ===== */
.x-cal-25,
.x-cal-25-x .ext-cal-evb,
.ext-ie .x-cal-25-ad,
.ext-opera .x-cal-25-ad {
    color: #a8c67b;
}
.ext-cal-day-col .x-cal-25,
.ext-dd-drag-proxy .x-cal-25,
.x-cal-25-ad,
.x-cal-25-ad .ext-cal-evm,
.x-cal-25 .ext-cal-picker-icon,
.x-cal-25-x dl,
.x-calendar-palette .x-cal-25 span {
    background-color: #a8c67b;
}
.x-cal-25-ad,
.x-cal-25-ad .ext-cal-evm {
    border-color: #a8c67b;
}

/* ===== x-cal-26 ===== */
.x-cal-26,
.x-cal-26-x .ext-cal-evb,
.ext-ie .x-cal-26-ad,
.ext-opera .x-cal-26-ad {
    color: #83ad47;
}
.ext-cal-day-col .x-cal-26,
.ext-dd-drag-proxy .x-cal-26,
.x-cal-26-ad,
.x-cal-26-ad .ext-cal-evm,
.x-cal-26 .ext-cal-picker-icon,
.x-cal-26-x dl,
.x-calendar-palette .x-cal-26 span {
    background-color: #83ad47;
}
.x-cal-26-ad,
.x-cal-26-ad .ext-cal-evm {
    border-color: #83ad47;
}

/* ===== x-cal-27 ===== */
.x-cal-27,
.x-cal-27-x .ext-cal-evb,
.ext-ie .x-cal-27-ad,
.ext-opera .x-cal-27-ad {
    color: #2e8f0c;
}
.ext-cal-day-col .x-cal-27,
.ext-dd-drag-proxy .x-cal-27,
.x-cal-27-ad,
.x-cal-27-ad .ext-cal-evm,
.x-cal-27 .ext-cal-picker-icon,
.x-cal-27-x dl,
.x-calendar-palette .x-cal-27 span {
    background-color: #2e8f0c;
}
.x-cal-27-ad,
.x-cal-27-ad .ext-cal-evm {
    border-color: #2e8f0c;
}

/* ===== x-cal-28 ===== */
.x-cal-28,
.x-cal-28-x .ext-cal-evb,
.ext-ie .x-cal-28-ad,
.ext-opera .x-cal-28-ad {
    color: #176413;
}
.ext-cal-day-col .x-cal-28,
.ext-dd-drag-proxy .x-cal-28,
.x-cal-28-ad,
.x-cal-28-ad .ext-cal-evm,
.x-cal-28 .ext-cal-picker-icon,
.x-cal-28-x dl,
.x-calendar-palette .x-cal-28 span {
    background-color: #176413;
}
.x-cal-28-ad,
.x-cal-28-ad .ext-cal-evm {
    border-color: #176413;
}

/* ===== x-cal-29 ===== */
.x-cal-29,
.x-cal-29-x .ext-cal-evb,
.ext-ie .x-cal-29-ad,
.ext-opera .x-cal-29-ad {
    color: #0f4c30;
}
.ext-cal-day-col .x-cal-29,
.ext-dd-drag-proxy .x-cal-29,
.x-cal-29-ad,
.x-cal-29-ad .ext-cal-evm,
.x-cal-29 .ext-cal-picker-icon,
.x-cal-29-x dl,
.x-calendar-palette .x-cal-29 span {
    background-color: #0f4c30;
}
.x-cal-29-ad,
.x-cal-29-ad .ext-cal-evm {
    border-color: #0f4c30;
}

/* ===== x-cal-30 ===== */
.x-cal-30,
.x-cal-30-x .ext-cal-evb,
.ext-ie .x-cal-30-ad,
.ext-opera .x-cal-30-ad {
    color: #386651;
}
.ext-cal-day-col .x-cal-30,
.ext-dd-drag-proxy .x-cal-30,
.x-cal-30-ad,
.x-cal-30-ad .ext-cal-evm,
.x-cal-30 .ext-cal-picker-icon,
.x-cal-30-x dl,
.x-calendar-palette .x-cal-30 span {
    background-color: #386651;
}
.x-cal-30-ad,
.x-cal-30-ad .ext-cal-evm {
    border-color: #386651;
}

/* ===== x-cal-31 ===== */
.x-cal-31,
.x-cal-31-x .ext-cal-evb,
.ext-ie .x-cal-31-ad,
.ext-opera .x-cal-31-ad {
    color: #3ea987;
}
.ext-cal-day-col .x-cal-31,
.ext-dd-drag-proxy .x-cal-31,
.x-cal-31-ad,
.x-cal-31-ad .ext-cal-evm,
.x-cal-31 .ext-cal-picker-icon,
.x-cal-31-x dl,
.x-calendar-palette .x-cal-31 span {
    background-color: #3ea987;
}
.x-cal-31-ad,
.x-cal-31-ad .ext-cal-evm {
    border-color: #3ea987;
}

/* ===== x-cal-32 ===== */
.x-cal-32,
.x-cal-32-x .ext-cal-evb,
.ext-ie .x-cal-32-ad,
.ext-opera .x-cal-32-ad {
    color: #7bc3b5;
}
.ext-cal-day-col .x-cal-32,
.ext-dd-drag-proxy .x-cal-32,
.x-cal-32-ad,
.x-cal-32-ad .ext-cal-evm,
.x-cal-32 .ext-cal-picker-icon,
.x-cal-32-x dl,
.x-calendar-palette .x-cal-32 span {
    background-color: #7bc3b5;
}
.x-cal-32-ad,
.x-cal-32-ad .ext-cal-evm {
    border-color: #7bc3b5;
}