/*!
 * Extensible 1.5.1
 * Copyright(c) 2010-2012 Extensible, LLC
 * licensing@ext.ensible.com
 * http://ext.ensible.com
 */
body {
    margin: 30px;
    font-family: arial, sans-serif;
    font-size: 12px;
}
h1 {
    margin-bottom: 15px;
    font-size: 18px;
}
h2 {
    margin-bottom: 10px;
    font-size: 15px;
}
h3 {
    margin-bottom: 10px;
    font-size: 12px;
}
p {
    margin-bottom: 15px;
}
strong {
    font-weight: bold;
}
.sample-ct {
    margin-bottom:20px;
}
#sample-overview {
    padding: 15px 20px;
}
#sample-overview ul {
    margin: 0 20px 15px;
    list-style: disc;
}
#sample-overview ol {
    margin: 0 20px 15px;
    list-style: decimal;
}
#sample-overview li {
    margin: 0 0 10px;
}
#sample-overview p.view-src a,
#sample-overview p.view-src a:visited {
    border: 1px solid #6B95BF;
    padding: 3px 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#ccc));
    background: -moz-linear-gradient(top,  #f6f6f6,  #ccc);
    color: #369;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    opacity: 0.8;
}
.ext-ie #sample-overview p.view-src a,
.ext-ie #sample-overview p.view-src a:visited {
    background: #eee;
    filter:alpha(opacity=80);
}
.ext-opera #sample-overview p.view-src a {
    background: #eee;
    opacity: 1.0;
}
#sample-overview p.view-src a:hover {
    filter:alpha(opacity=100);
    opacity: 1.0;
}
#msg-div {
    position: fixed;
    left: 0;
    top: 10px;
    width: 100%;
    z-index: 20000;
}
#msg-div .msg {
    width: 300px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    background: #FFEEBF;
    border: 2px solid #EFB34A;
    margin: 3px auto;
    padding: 10px 15px;
    color: #555;
    -moz-box-shadow: 0 5px 8px #ccc;
    -webkit-box-shadow: 0 5px 8px #ccc;
    box-shadow: 0 5px 8px #ccc;
}
#msg-div .msg h3 {
    margin: 0 0 8px;
    font-weight: bold;
    font-size: 15px;
}
#msg-div .msg p {
    margin: 0;
}