/*!
 * Extensible 1.5.1
 * Copyright(c) 2010-2012 Extensible, LLC
 * licensing@ext.ensible.com
 * http://ext.ensible.com
 */
/*
 * Ext Scheduler v1.7
 * Copyright(c) 2009-2010 Mats Bryntse Consulting
 * 
 * info@ext-scheduler.com
 * 
 * http://www.ext-scheduler.com/license.html
 * 
 * 
 */


 
.sch-event
{
	border:1px solid #aaa;
	background:lightblue url(../images/transp-1px.png) repeat-x;
    z-index:1000;
    min-width:1px;			 
    position : absolute;
    overflow:hidden;
    cursor:pointer;
}

.sch-event-inner
{
    overflow:hidden;
    white-space:nowrap;
    margin-left:5px;
    margin-right:5px;
	margin-top:2px;
	height:inherit;
}

.sch-vertical .sch-event-inner
{
	margin-top:3px;
}


.sch-event-endsoutside
{
	border-right:0 none;
}


.sch-event-startsoutside
{
	border-left:0 none;
}

.sch-event-selected 
{
	border-color:red !important;
    z-index:1001;
}



.sch-eventeditor
{
	background:#fff;
    z-index:5000;
    top:-1000px;
    left:-1000px;
    position:absolute;
    -webkit-box-shadow: 1px 1px 1px rgba(100, 100, 100, 0.5);
    -moz-box-shadow: 1px 1px 1px rgba(100, 100, 100, 0.5); 
    -moz-border-radius-bottomleft:11px;
    -moz-border-radius-bottomright:11px;
    -moz-border-radius-topright:11px;
    -webkit-border-bottom-right-radius: 11px;
    -webkit-border-bottom-left-radius: 11px;
    -webkit-border-top-right-radius: 11px;
	border: 1px solid #DDDDDD;
}

.sch-eventeditor .x-border-layout-ct
{
	background:transparent;
}

.sch-eventeditor-timefields
{
	background:transparent;
}

.sch-eventeditor-timefields .x-panel-body
{
    -moz-border-radius-topright:11px;
    -webkit-border-top-right-radius: 11px;
	background:#DFE8F6;
	border-bottom: 1px solid #DDDDDD;
}

.sch-eventeditor.x-panel-collapsed
{
	border: 0px none;
}

 
.sch-timeline
{
  cursor:pointer;
  height:100%;
  position:absolute;
  border-style:dotted;
  border-color: #aaa;
  border-width:0 0 0 1px;
  z-index:101;
  overflow:hidden;
}

.sch-vertical .sch-timeline
{
  border-width:1px 0 0 0;
}

div.sch-timeline:hover
{
  border-style:solid !important;
}

.sch-schedulerpanel .x-grid-group-hd
{
    position:relative;
    z-index:101;
}

.sch-schedulerpanel .x-grid3-scroller
{
    z-index:101;
}

.sch-zone
{
  height:100%;
  position:absolute;
  left:0;
  top:0;
  background: url(../images/zonebg.png) repeat;
  overflow:hidden;
  
}


.ext-ie .sch-schedulerpanel .x-grid3-body
{
	position:relative;
	z-index:2;
}

 

.sch-groupingsummary .x-grid-group-collapsed
{
	position:relative;
	border-bottom:2px solid #99BBE8;
	min-height:22px;
}




* html .sch-groupingsummary .x-grid-group-collapsed {
	height: 22px;
}

.sch-groupingsummary .x-grid-group-collapsed .x-grid3-row
{
	height:4px !important;
	background-color:transparent !important;
	background-image:none !important;
	border-color:transparent !important;
}

.sch-groupingsummary .x-grid-group-collapsed .x-grid3-row .sch-event
{
	height:2px !important;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    -moz-border-radius:0;
    -webkit-border-radius: 0;
    border-bottom:0 !important;
	border-top:0 !important;
    top:0px;
    padding:0 !important;
}

.sch-groupingsummary .x-grid-group-collapsed .x-grid-group-body {
	display:block;
	padding-top:2px;
}

.sch-schedulerpanel .x-grid-group-hd
{
    white-space:nowrap;    
}

.sch-groupingsummary .x-grid-group-hd
{
	padding-top:0 !important;
}

.sch-groupingsummary .x-grid-group-collapsed .x-grid-group-hd
{
	position:absolute;
	border-bottom:0 none;
	z-index:200;
	top:0;
	left:0;
	height:100%;
}

.sch-groupingsummary .x-grid-group-collapsed td.x-grid3-col {
	height:2px !important;
	border-bottom:0 !important;
	border-top:0 !important;
	text-indent:-10000px;
    border-right: 1px none !important;
}

.sch-groupingsummary .x-grid-group-collapsed .x-grid3-cell-inner
{
	height:2px !important;
	padding:0 !important;
}




.sch-schedulerpanel .x-grid-group-unlocked .x-grid-group-title
{
    visibility:hidden;
}

 
.sch-schedulerpanel .x-grid3-cell-inner
{
	height:inherit;
}

.sch-timetd
{
	padding-right:0 !important;
}

.ext-strict .ext-ie .x-grid3-cell-inner,
.sch-timetd .x-grid3-cell-inner
{
    padding:0;
}

.ext-border-box .sch-timetd .x-grid3-cell-inner
{
    padding:3px 3px 3px 5px;
}


.sch-timetd .x-grid3-cell-inner
{
	overflow:visible !important;
    position:relative;
	left:-1px; 
    text-align:left;    
}


.sch-schedulerpanel .x-grid3-hd-inner{
	-o-text-overflow: clip;
	text-overflow: clip;
}


.sch-drag-selector {
	z-index:5000;
}


.sch-schedulerpanel .x-grid3-row-alt {
	background:transparent url(../images/altrow.png) repeat;
}


.sch-schedulerpanel .x-grid3-row {
	position:relative;
	z-index:3;
}

.ext-border-box .sch-timeheader .x-grid3-hd-btn,
.ext-border-box .sch-timeheader .x-grid3-sort-icon
{
	display:none;
}

 

td.ux-grid-hd-group-cell,
td.ux-grid-hd-nogroup-cell {
	background: url(http://extjs.cachefly.net/ext-3.1.1/resources/images/default/grid/grid3-hrow.gif) repeat-x bottom;
}

.sch-nested-hdr-tbl
{
	width:100%;
    height:auto;
}

.sch-nested-hdr-nopad .x-grid3-hd-inner
{
	padding:0 !important;
}

.sch-nested-hdr-nopad td
{
	padding:4px 0 !important;
	text-align:center;
}

.sch-nested-hdr-nopad .sch-nested-hdr-tbl-cell-last
{
	border-right-color:transparent;
}

.sch-nested-hdr-pad td {
    text-align:left;
	border:0 none;
}

.sch-nested-hdr-pad .x-grid3-hd-inner
{
	padding-left:2px !important;
	padding-right:2px !important;
}

.sch-nested-hdr-pad td {
    text-align:left;
	border:0 none;
}

.sch-hdr-startend .sch-hdr-start
{
    float:left;
}

.sch-hdr-startend .sch-hdr-end
{
    float:right;
}


.sch-clockwrap
{
    position:relative;
    overflow:hidden;
}

.sch-clock
{
    position:absolute;
    background: url(../images/clock-bare.png) no-repeat left top !important;
    height:20px;
    width:20px;
    white-space:nowrap;
    display:inline-block;
}

.sch-clock-text
{
    margin-left:25px;
    padding-bottom:5px;
    padding-top:2px;
    display:inline-block;
}

.sch-clock .sch-hourIndicator
{   
    overflow:hidden;
    background: #000;
    position:absolute;
    left:10px;
    top:4px;
    width:2px;
    height:6px;
    transform-origin: 50% 100%;  
    -o-transform-origin: 50% 100%;  
    -moz-transform-origin: 50% 100%;  
    -webkit-transform-origin: 50% 100%; 
}

.sch-clock .sch-minuteIndicator
{
    overflow:hidden;
    background: #4E5252;
    position:absolute;
    left:10px;
    top:3px;
    width:2px;
    height:7px;
    transform-origin: 50% 100%;  
    -o-transform-origin: 50% 100%;  
    -moz-transform-origin: 50% 100%;   
    -webkit-transform-origin: 50% 100%;  
}




 

.sch-dd-cellover
{
    background:url(../images/altrow.png) repeat;
}


.x-dd-drop-ok.add .x-dd-drop-icon{
  background-image: url(http://extjs.cachefly.net/ext-3.1.1/resources/images/default/dd/drop-add.gif);
}

.sch-dd-newtime
{
    font-weight:bold;
    color:#274490;
    display:block;
    margin: 0 0 5px 4px;
}

.sch-dragproxy .sch-event
{
	opacity:0.6;
	filter: alpha(opacity=60);
	cursor:pointer;
	top:0 !important;
	left:0 !important;
}

.sch-dragproxy .x-resizable-handle
{
	display:none !important;
}

.sch-dragproxy .x-dd-drag-ghost {
	background-color:transparent;
	border: 0 none;
	padding:3px 0;
	white-space:nowrap;
}

.sch-dd-wrap .sch-event
{
    position:static;
}

 
.sch-dragcreator-proxy
{
	position:absolute;
    left:0;
    top:0;
    width:0;
    border:1px solid #3399bb;
    cursor:auto !important;
	opacity: .5;
    filter:alpha(opacity=50);
    zoom:1;
    background-color:#c3daf9;
    z-index:10000;
    
}



 
.sch-horizontal .sch-event .x-resizable-handle
{
	background: transparent url(../images/resize-handle-hor.gif) no-repeat center center;
}

.sch-horizontal .sch-resizable-handle-start,
.sch-horizontal .sch-resizable-handle-end
{
    top:0;
    height:100%;
    width:9px;
}

.ext-border-box .sch-horizontal .sch-resizable-handle-start,
.ext-border-box .sch-horizontal .sch-resizable-handle-end
{
    top:1px;
    width:7px;
}

.sch-horizontal .sch-resizable-handle-start
{
    cursor:w-resize;
    left:0;
}

.sch-horizontal .sch-resizable-handle-end
{
    cursor:e-resize;
    right:0;
}

.sch-vertical .sch-resizable-handle-start{
	background: transparent url(../images/resize-handle-ver.gif) no-repeat center 3px;
    width:100%;
    cursor:n-resize;
    top:0px;
    height:6px;
    left:0;
}

.sch-vertical .sch-resizable-handle-end{
	background: transparent url(../images/resize-handle-ver.gif) no-repeat center top;
    width:100%;
    cursor:s-resize;
    bottom:0;
    left:0;
    height:6px;
}

.sch-event-endsoutside .sch-resizable-handle-end,
.sch-event-startsoutside .sch-resizable-handle-start,
.sch-schedulerpanel-readonly .x-resizable-handle
{
	display:none !important;
}

.sch-event-hover .x-resizable-handle
{
	opacity:1 !important;
	filter: alpha(opacity=100);
}






 
.sch-tip-ok
{
  padding-left:20px;
  background: url(http://extjs.cachefly.net/ext-3.1.1/resources/images/default/dd/drop-yes.gif) no-repeat left top;
}

.sch-tip-notok
{
  padding-left:20px;
  background: url(http://extjs.cachefly.net/ext-3.1.1/resources/images/default/dd/drop-no.gif) no-repeat left top;
}

.sch-tooltip-enddate
{
    padding-top:2px;
}


/**  Examples **/

/**
 * Some of the examples make use of the Silk icon set by Mark James http://www.famfamfam.com/lab/icons/silk/
 *
 */

.icon-prev
{
    background: url(../images/arrow_left.png) no-repeat center center !important;
}

.icon-next
{
    background: url(../images/arrow_right.png) no-repeat center center !important;
}

body {
    font-family:helvetica,tahoma,verdana,sans-serif;
    padding:20px;
    padding-top:32px;
    font-size:13px;
}
p {
    margin-bottom:15px;
}
h1 {
    font-size:large;
    margin-bottom:20px;
}
h2 {
    font-size:14px;
    color:#333;
    font-weight:bold;
    margin:10px 0;
}

pre.code{
    background: #F8F8F8;
    border: 1px solid #e8e8e8;
    padding:10px;
    margin:10px;
    margin-left:0px;
    border-left:5px solid #e8e8e8;
    font-size: 12px !important;
    line-height:14px !important;
}

a
{
    text-decoration:none;
}

a:hover
{
    text-decoration:underline;
}


.sch-event-endsoutside
{
    -moz-border-radius-topright:0 !important;
    -moz-border-radius-bottomright:0 !important;
    -webkit-border-radius-top-right:0 !important;
    -webkit-border-radius-bottom-right:0 !important;
}

.sch-event-startsoutside
{
    -moz-border-radius-topleft:0 !important;
    -moz-border-radius-bottomleft:0 !important;
    -webkit-border-radius-top-left:0 !important;
    -webkit-border-radius-bottom-left:0 !important;
}
